<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chat Client</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" href="static/styles.css" />
</head>
<body>
    <div class="container">
        <h2>Chat Client</h2>
        <div id="login-area">
            <span id="welcome">Named yourself to join the Chat</span>
            <div class="input-group row">
                <input type="text" id="name" class="input" placeholder="Enter your name" />
                <button id="login-btn">Login</button>
            </div>
        </div>

        <div id="chat-area" style="display:none;">
            <div id="messages"></div>
            <div class="input-area">
                <input type="text" id="message" class="input" placeholder="Type your message" style="width:400px;" />
                <div class="row">
                    <button id="send-btn">Send</button>
                    <button id="exit-btn">Exit</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>